
#tittle{
    background-color:rgb(5,173, 162) ;
    color:white;
    width:50px;
    margin:auto;
}
#description{
    text-align: center;
}
#text{
    text-align: center;
    margin-top: 5px;
    margin-top: 30px;
}
.container{
    width: 70%;
    margin:auto;
    background-color: white;
    color: black;
    padding: 40px;
}
.row_tab{
    display: block;
    padding-bottom: 100px;
   padding-inline: 30px;
}
.label-tab{
    display:inline-block;
    width:54%;
    text-align: right;
    vertical-align: top;
}
.input-tab{
    display:inline-block;
    width:44%;
    text-align: left;
}
.select_tab{
    display:inline-block;
    width:80%;
    text-align: left;
    margin-bottom: 30px;  
}
#select-box{
    padding: 5px 0px;
    overflow: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 80px;

}
#comment{

    text-align: center;
    margin-top: 5px;
    margin-top: 30px;
}

